 <div class="row">
      <div class="col-sm-5 my-4">
        <h3>{{ptitle}}</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped {{bg}}" role="progressbar" style="width: {{pv}}%;" aria-valuenow="{{pv}}" aria-valuemin="0"
                aria-valuemax="100">{{pv}}%</div>
        </div>
      </div>
    <div class="col-sm-5 offset-sm-2 my-4">
        <h3>{{ptitle1}}</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped {{bg1}}" role="progressbar" style="width: {{pv1}}%;" aria-valuenow="{{pv1}}"
                aria-valuemin="0" aria-valuemax="100">{{pv1}}%</div>
        </div>
    </div>
 </div>